# ××¢×ª×§ ×§×××¥ ×× ×-.env ×××©×× ××ª ××¢×¨×××

# ××¤×ª× ××¢××× × ×××× â ×××¨ ×¡××¡×× ×××§×
ADMIN_KEY=your-secret-key-here

# SMS4Free
SMS4FREE_USER=your-sms4free-username
SMS4FREE_PASS=your-sms4free-password
SMS4FREE_KEY=your-sms4free-api-key
SMS4FREE_SENDER=05XXXXXXXX
